/*.gif
/*.parquet
/*csv
/*geojson
/*geoparquet
naip_data
leafmap.ipynb
/*.ipynb_checkpoints
testing.ipynb
/*.tif*
Landcover_randomforest_model.pkl
pabb_crop_V3.qmd
/*.png
/*.pkl
/*xml
/*.doc*
output
/*.html
/*.jsonl
/VertexAI_*
*.tif
*.pth
/*Unet*